# DynamoDB
TABLE_NAME=FitMentorData

# Cognito
COGNITO_USER_POOL_ID = 
COGNITO_CLIENT_ID = 

# API / Frontend
API_BASE_URL = 

# AI Keys (Dashboard Lambda)
GOOGLE_API_KEY1 = 
GOOGLE_API_KEY2 = 
GOOGLE_API_KEY3 = 

# Cognito Custom Message Lambda
RESET_URL_BASE = 
